#app {
  padding: 20px 0;
}

#controlForm {
  margin: 0;
}

#world {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
}

#world:not(:empty) {
  border: 1px solid var(--bs-dark);
}

.cell {
  flex: 0 0 25%;
  padding-bottom: 25%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--bs-dark);
}

.action, .text {
  position: absolute;
  font-family: monospace;
}

.action .label {
  font-size: 48px;
}

.action .score {
  position: absolute;
  top: 0px;
  left: 50%;
  translate: -50% 0;
}

.action.up {
  top: 5%;
  left: 50%;
  translate: -50% 0;
}

.action.down {
  bottom: 5%;
  left: 50%;
  translate: -50% 0;
}

.action.left {
  top: 50%;
  left: 5%;
  translate: 0 -50%;
}

.action.right {
  top: 50%;
  right: 5%;
  translate: 0 -50%;
}

.wall {
  background-color: var(--bs-gray);
}

.goal.positive {
  background-color: var(--bs-blue);
}

.goal.negative {
  background-color: var(--bs-red);
}

.wall .action,
.goal .action {
  display: none;
}

.cell .text {
  display: none;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 32px;
}

.goal .text {
  display: block;
  color: var(--bs-white);
}

.start .text {
  display: block;
  color: var(--bs-dark);
}
